<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bawei6.usercenter">

    <application>
        <activity android:name=".chat.AddressBook_Activity"></activity>
        <activity android:name=".inituser.FindActivity" />
        <activity android:name=".chat.AddActivity" />
        <activity android:name=".inituser.RegisterActivity" />
        <activity android:name=".SelectActivity" />
    </application>

</manifest>